body {
    padding: 0px;
    background: #181818;
    color: #f1f1f1;
    padding-bottom: 0px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: #303030;
}

/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}



/* Add a card effect for articles */
.card {
  background-color: #3030309a;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - when the screen is less than 900px wide, make the two columns stack on top of each other instead of next to each other */
.leftcolumn, .rightcolumn {
  width: 100%;
  padding: 0;
}
