
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
        font-family: 'Merriweather', serif;
        /* margin: 0; */
        /* padding: 0; */
        background-color: #f7f5f2;
        color: #4a4a4a;
    }

    header {
        background-color: #fffaf3;
        color: #333;
        padding: 15px 0px;
        text-align: center;
        font-size: 2.5em;
        font-weight: normal;
        font-family: 'Fira Mono', monospace;
    }


    a {
        color: #5d675b;
        text-decoration: none;
    }
